<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeethink.crm.mapper.Crm2TransferMapper">

    <resultMap type="CrmTransfer" id="CrmTransferResult">
        <result property="transferId"    column="transfer_id"    />
        <result property="businessId"    column="business_id"    />
        <result property="businessType"    column="business_type"    />
        <result property="transferType"    column="transfer_type"    />
        <result property="transferTo"    column="transfer_to"    />
        <result property="belongTo"    column="belong_to"    />
        <result property="reason"    column="reason"    />
        <result property="publicId"    column="public_id"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectCrmTransferVo">
        select transfer_id, business_id, business_type, transfer_type, transfer_to, belong_to, reason, public_id, del_flag, create_by, create_time, update_by, update_time, remark from crm2_transfer
    </sql>

    <select id="selectCrmTransferList" parameterType="CrmTransfer" resultMap="CrmTransferResult">
        <include refid="selectCrmTransferVo"/>
        <where>
        	del_flag='0'
            <if test="transferTo != null  and transferTo != ''"> and transfer_to = #{transferTo}</if>
            <if test="belongTo != null  and belongTo != ''"> and belong_to = #{belongTo}</if>
            <if test="transferType != null  and transferType != ''"> and transfer_type = #{transferType}</if>
            <if test="businessType != null  and businessType != ''"> and business_type = #{businessType}</if>
        </where>
    </select>

    <select id="selectCrmTransferById" parameterType="Long" resultMap="CrmTransferResult">
        <include refid="selectCrmTransferVo"/>
        where transfer_id = #{transferId}
    </select>

    <insert id="insertCrmTransfer" parameterType="CrmTransfer" useGeneratedKeys="true" keyProperty="transferId">
        insert into crm2_transfer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="businessId != null ">business_id,</if>
            <if test="businessType != null  and businessType != ''">business_type,</if>
            <if test="transferType != null  and transferType != ''">transfer_type,</if>
            <if test="transferTo != null  and transferTo != ''">transfer_to,</if>
            <if test="belongTo != null  and belongTo != ''">belong_to,</if>
            <if test="reason != null  and reason != ''">reason,</if>
            <if test="publicId != null ">public_id,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="businessId != null ">#{businessId},</if>
            <if test="businessType != null  and businessType != ''">#{businessType},</if>
            <if test="transferType != null  and transferType != ''">#{transferType},</if>
            <if test="transferTo != null  and transferTo != ''">#{transferTo},</if>
            <if test="belongTo != null  and belongTo != ''">#{belongTo},</if>
            <if test="reason != null  and reason != ''">#{reason},</if>
            <if test="publicId != null ">#{publicId},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
         </trim>
    </insert>

    <update id="updateCrmTransfer" parameterType="CrmTransfer">
        update crm2_transfer
        <trim prefix="SET" suffixOverrides=",">
            <if test="businessId != null ">business_id = #{businessId},</if>
            <if test="businessType != null  and businessType != ''">business_type = #{businessType},</if>
            <if test="transferType != null  and transferType != ''">transfer_type = #{transferType},</if>
            <if test="transferTo != null  and transferTo != ''">transfer_to = #{transferTo},</if>
            <if test="belongTo != null  and belongTo != ''">belong_to = #{belongTo},</if>
            <if test="reason != null  and reason != ''">reason = #{reason},</if>
            <if test="publicId != null ">public_id = #{publicId},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
        </trim>
        where transfer_id = #{transferId}
    </update>

    <delete id="deleteCrmTransferById" parameterType="Long">
        delete from crm2_transfer where transfer_id = #{transferId}
    </delete>

    <delete id="deleteCrmTransferByIds" parameterType="String">
        delete from crm2_transfer where transfer_id in
        <foreach item="transferId" collection="array" open="(" separator="," close=")">
            #{transferId}
        </foreach>
    </delete>
    
</mapper>