<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('选择调出仓库列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>仓库名称：</label>
                                <input type="text" name="storageName"/>
                            </li>
                            <li>
                                <label>负责人：</label>
                                <input type="text" name="belongTo"/>
                            </li>
                            <li>
                                <label>联系电话：</label>
                                <input type="text" name="phone"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var storageStatusDatas = [[${@dict.getType('storage_status')}]];
        var prefix = ctx + "crm/storage";

        $(function() {
            var options = {
                url: prefix + "/list",
		        showSearch: false,
		        showRefresh: false,
		        showToggle: false,
		        showColumns: false,
		        clickToSelect: true,
		        sortName: "createTime",
		        sortOrder: "desc",
                modalName: "仓库",
                columns: [{
	            	radio: true
	            },
                {
                    field: 'storageId',
                    title: '仓库ID',
                    visible: false
                },
                {
                    field: 'storageNo',
                    title: '仓库编码'
                },
                {
                    field: 'storageName',
                    title: '仓库名称'
                },
                {
                    field: 'storageStatus',
                    title: '仓库状态',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(storageStatusDatas, value);
                    }
                },
                {
                    field: 'storageAddress',
                    title: '仓库地址'
                },
                {
                    field: 'belongTo',
                    title: '负责人'
                },
                {
                    field: 'phone',
                    title: '联系电话'
                }]
            };
            $.table.init(options);
        });
		
		/* 出库、入库-选择仓库-提交 */
		function submitHandler() {
			var storageId = $.table.selectFirstColumns();
			var storageName = $.table.selectColumns("storageName");
			if (storageId.length == 0) {
       			$.modal.alertWarning("请选择一条记录");
       			return;
       		}
			$.modal.close();
			parent.$('#outStorageId').val('');
			parent.$('#outStorageName').val('');
			parent.$('#outStorageId').val(storageId);
			parent.$('#outStorageName').val(storageName);
			parent.$('#productId').val('');
			parent.$('#productName').val('');
		}
    </script>
</body>
</html>